<!-- Mustafa Atay -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learning Platform</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body class="full-height">
    <div class="center-layout">
      <div class="round-bordered-box" style="max-width: 500px">
        <h1 style="text-align: center; margin-top: 0; margin-bottom: 50px">
          LOGIN
        </h1>
        <form method="POST" action="/login/query/">
          {% csrf_token %}
          <label for="username">Username:</label><br />
          <input type="text" id="username" name="username" />
          <br /><br />
          <label for="password">Password:</label><br />
          <input type="password" id="password" name="password" />
          <br /><br />
          <input type="submit" value="Login" />
        </form>
        <p style="margin-top: 20px">
          Don't have an account? <a href="/sign_up/">Sign Up</a>
        </p>
      </div>
    </div>
  </body>
</html>
