<!-- Osman Fehmi Albayrak -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learning Platform</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
</head>

<body class="full-height">
    <div class="center-layout container control-panel-layout">
        <h1 style="text-align: center; margin-top: 0; margin-bottom: 50px">
            MY COURSES
        </h1>
        <div class="row" style="width: 100%">
            {% for course in my_student_courses_list %}
            <div class="col-xs-3">{{ course }}</div>
            {% endfor %}
        </div>
        <div class="row" style="width: 100%">
            <h3 style="text-align: center; margin-top: 0; margin-bottom: 20px">
                Here is a joke!!!
            </h3>
            <br>
            <h5 style="text-align: center; color: black; margin-top: 0; margin-bottom: 20px">
                {{ joke }}
            </h5>
        </div>
        <form action="/student/student_my_courses_back/">
            <input type="submit" value="Back" />
        </form>
    </div>
</body>

</html>