<!-- Everyone -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learning Platform</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body class="full-height">
    <div class="center-layout container control-panel-layout">
      <h1 style="text-align: center; margin-top: 0; margin-bottom: 50px">
        STUDENT PANEL
      </h1>
      <div class="row" style="width: 100%">
        <a href="/student/student_enroll/">
          <div class="col-md-3 col-xs-6">
            <div class="button-box">Enroll</div>
          </div>
        </a>
        <a href="/student/student_give_rate/">
          <div class="col-md-3 col-xs-6">
            <div class="button-box">Give Rate</div>
          </div>
        </a>
        <a href="/student/student_my_courses/">
          <div class="col-md-3 col-xs-6">
            <div class="button-box">My Courses</div>
          </div>
        </a>
        <a href="/student/student_specify_preferences/">
          <div class="col-md-3 col-xs-6">
            <div class="button-box">Specify Preferences</div>
          </div>
        </a>
      </div>
      <form method="POST" action="/logout/query/">
        {% csrf_token %}
        <input type="submit" value="Log Out" />
      </form>
    </div>
  </body>
</html>
