<!-- Ege Onur Taga -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Specify Preferences</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  

  <body class="full-height">
    <div class="center-layout">
      <div  class="row" style="width: 1000px">
        <h1 style="text-align: center; margin-top: 0; margin-bottom: 50px">
            Specify Preferences
          </h1>



        <div class="col-xs-6" > 
            <div style="display:flex; justify-content:center; flex-direction:column;align-content:center;">
                <h3 style="text-align: left; margin-top: 0">
                    Enter a preference
                  </h3>
                  <h6 style="text-align: left; margin-top: 0; margin-bottom: 50px">
                    Choose a level (Beginner, Intermediate or Advanced) and a unique topic that you didn't specify before. 
                </h6>
            <form method="POST" action="/student/student_specify_preferences_entered/">
                {% csrf_token %}
                <label for="topic">Topic:</label><br />
                <input type="text" id="topic" name="topic" required />
                <br /><br />
                <label for="level">Level:</label><br />
             <!--   <input type="level" id="level" name="level" required /> --> 
             <select name="level" id="level">
                 <option>Beginner</option>
                 <option>Intermediate</option>
                 <option>Advanced</option>
             </select>
                <br /><br />
                <input type="submit" value="Submit" />
              </form>
              <h5>{{error}}</h5>
            </div>
        </div>  
        <div class="col-xs-6" > 
            <div style="display:flex; justify-content:center; flex-direction:column;align-content:center;">
                <h3 style="text-align: center; margin-top: 0">
                    My already specified preferences
                  </h3>
                  <h6 style="text-align: left; margin-top: 0; margin-bottom: 50px">
                    The table below shows the topics that you are interested in and the level that you want to learn.
                </h6>
            {% if success %}
            <table>
              <tr>
                <th>Topic</th>
                <th>Level</th>
                <th>About (Wikipedia)</th>
              </tr>
              {% for row in preferences_content %}
              <tr>
                {% for value in row %}
                <td>  {{value}}  </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
            {% endif %}
        </div>
        </div>  
        <a href="/student/">
            <button> Return to Main Page</button> 
          </a>
        
      </div>
      
    </div>

  </body>
</html>
