<!-- Mustafa Atay -->
{% load crispy_forms_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learning Platform</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body class="full-height">
    <div class="center-layout">
      <div class="round-bordered-box" style="max-width: 500px">
        <h1 style="text-align: center; margin-top: 0; margin-bottom: 50px">
          SIGN UP
        </h1>
        <form method="POST" action="{% url 'sign_up_entered' %}">
          {{form|crispy}}{% csrf_token %}
          <label><b>Name and Surname</b></label> <br />
          <input
            type="text"
            placeholder="Enter Name and Surname"
            name="post_name_surname"
            required
          />
          <br />
          <br />

          <label><b>Username</b></label> <br />
          <input
            type="text"
            placeholder="Enter Username"
            name="post_username"
            required
          />
          <br />
          <br />

          <label><b>Password</b></label> <br />
          <input
            type="password"
            placeholder="Enter Password"
            name="post_password"
            required
          />
          <br />
          <br />

          <div style="display: flex; align-items: center">
            <label> I am a teacher </label>
            <input
              type="checkbox"
              name="post_is_teacher"
              value="True"
              style="margin: 0 0 5px 10px"
            />
          </div>

          <br />
          

          <div class="clearfix">
            <input type="reset" value="Cancel" class="cancelbtn" />
            <input type="submit" value="Sign Up" class="signupbtn" />
          </div>

          <p style="margin-top: 20px">
            Do you have an account? <a href="/login/">Login</a>
          </p>

          {% if fail %}
          <br />
          <h5 style="border:2px solid DodgerBlue"><strong>The entered username is not available.</strong></h5>
          {% endif %}
        </form>

          <br>
          <br>
          <label><b>Check username available</b></label> <br />
          <form method="POST" action="{% url 'sign_up_check_username' %}">
            {{form|crispy}}{% csrf_token %}
          <input
            type="text"
            placeholder="Enter username"
            name="post_check_username"
          />
          <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          
            {% if show_check_username and not check_username_available%}

            <br />
            <h5 style="border:2px solid DodgerBlue"><strong>Sorry! This username is not available.</strong></h5>
            {% elif  show_check_username and check_username_available %}
            <br />
            <h5 style="border:2px solid DodgerBlue"><strong>Yes! This username is available.</strong></h5>
            {% endif %}

            <br>
            
            <h5> Available username: {{ responseOfAPI }} </h5>
        
      </div>
    </div>
  </body>
</html>
