<!-- Efekan Kavalcı -->
{% load crispy_forms_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learning Platform</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body class="full-height">
    <div class="center-layout">
      <div class="round-bordered-box" style="max-width: 500px">
        <h4 style="text-align: center; margin-top: 0; margin-bottom: 10px">
        Select the course you want to rate and choose a rating between 1-5:
        </h4>
        <form method="POST" action="{% url 'student_give_rate_entered' %}">
          {% csrf_token %}
          <label for="COURSE">Course:</label>
          <select name="course_name" class="filter-selectbox">
            <option value="">---------</option>
            {% for course in courses %}
            <option value="{{ course }}">{{ course }}</option>
            {% endfor %}
            </select>
          
          <br />
          <label for="RATE">Rating:</label>
          <input type="number" id="rate" name="rate" min="0" max="5">
          <br /><br />
          <input type="submit" value="Submit" />
        </form>
        <p style="margin-top: 20px">
          "{{quote}}" - {{author}}
        </p>

      </div>
    </div>
  </body>
</html>